
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', Veranda, Geneva, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-anchor: none;
}

.anchor::before {
  content: "";
  display: block;
  height: 25vh; /* fixed header height*/
  margin: -25vh 0 0; /* negative fixed header height */

  animation: anchorResize 1s ease 1 both;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll)*-1s);
}

.anchor {
  padding-left: 1vw;
  padding-right: 1vw;
}

/* ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~
  navigational bar:
    there's only one, so we can tie it to an id (i.e. use #)
~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ */
#navbar {
  top: 0;
  z-index: 99;
  padding: 10vh 5vw;
  overflow: hidden;
  position: sticky;
  background-color: black;
  transition: .3s;
  
  animation: navbarPaddingResize 1s ease 1 both;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll)*-1s);
}

#navbar #logo {
  /* make the logo do special things here ig */
  font-family: 'Courier New', Courier, monospace;
  color: white;
  font-size: 400%;
  text-decoration: none;
  
  animation: navbarLogoResize 1s ease 1 both;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll)*-1s);
}

#navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#navbar li {
  float: left;
  padding: 0 0;
  margin-right: 10px;
}

#navbar a {
  padding: 8px 16px;
  height: 4vh;
  line-height: 4vh;
  display: block;
  font-size: 150%;
  color: #bbbbbb;
  text-decoration: none;
  transition: .5s;
}

#navbar a:hover {
  text-decoration: underline;
  color: white;
  /*
  color: black;
  background-color: #dddddd;
  */
}

/* we want a cool animation where the bar shrinks as we scroll */
@keyframes navbarPaddingResize {
  to {padding: 2vh 2vw;}
}

@keyframes navbarLogoResize {
  to {font-size: 250%;}
}

/* this resizing helps prevent us from overshooting the anchors
   due to the navigation bar resizing lmao */
@keyframes anchorResize {
  to {
    height: 9vh;
    margin: -9vh 0 0;
  }
}

@keyframes brandUp {
  to {bottom: 28%;}
}

/* ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~
  title page
    contains our inspirational quotes!
~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ */
#titlePage {
  width: 100vw;
  min-height: 70vh;
  overflow: hidden;
  padding-top: 7%;

  color: white;
  background-color: black;
  font-size: 70px;
  text-align: center;
}

#titlePage #keyWords {
  margin: 0 5% 0 5%;
}

#titlePage #brandStatement {
  float: left;
  position: absolute;
  bottom: 10%;
  max-width: 40%;
  /*padding: 1%; */
  margin-left: 5%;
  /*border: 1px solid white;*/

  font-size: 25px;

  animation: brandUp 1s ease 1 both;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll)*-1s);
}

#titlePage #name {
  float: right;
  position: absolute;
  bottom: 12%;
  right: 6%;
  font-size: 45px;
  font-family: 'Courier New', Courier, monospace;

  animation: brandUp 1s ease 1 both;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll)*-1s);
}

/* ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~
  about section
    contains our headshot and description
~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ */
#about #headshot {
  display: inline-block;
  vertical-align: top;
  width: 12%;
  min-width: 100px;
  margin-top: 2vw;
  margin-right: 1vw;
  border: 1px solid black;
  border-radius: 1px;
}

#about #aboutText {
  display: inline-block;
  vertical-align: top;
  margin: 10% 15% 5% 15%;
  font-size: 25px;
}

/* ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~
  projects section
    contains cool stuff i've done!
~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ */
#projects {
  display: inline-block;
  vertical-align: top;
  margin: 5% 15% 15% 15%;
  font-size: 25px;
}

/*
  Add responsiveness - on screens less than 580px wide,
  display the navbar vertically instead of horizontally
*/
@media screen and (max-width: 580px) {
  .anchor::before {
    height: 1%;
    margin: -1% 0 0;
    animation: none;
  }

  .anchor {
    padding-left: 3vw;
    padding-right: 3vw;
  }

  #navbar {
    position: static;
    padding: 20px 10px !important; /* Use !important to make sure that JavaScript doesn't override the padding on small screens */
  }

  #navbar li {
    float: none;
    display: block;
    text-align: left;
  }

  #navbar #logo {
    font-size: 250%;
  }

  #titlePage #brandStatement {
    position: relative;
    max-width: 100%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    margin-top: 15%;

    animation: none;
  }

  #titlePage #name {
    position: relative;

    animation: none;
  }

  #about #headshot {
    float: left;
    width: 25%;
    margin-bottom: 1vh;
    margin-top: 5vw;
    margin-right: 3vw;
  }

  #about #aboutText {
    display: inline;
  }
}


